tr
  th(scope='row')= incident.createdAt
  td= incident.created_user
  td= incident.channel
  td= incident.messages === undefined ? '' : incident.messages[0].text
  td
    a(href=`${incident.permalink}` target='_blank')
                                                   = incident.permalink
